body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.folderTreeItemRow {
    padding: 10px;
    font-size: xx-large;
    font-weight: 400;
    text-align: center;
}

    .folderTreeItemRow :hover {
        color: wheat;
        cursor: pointer;
    }


