<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title>Simparse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <meta name="theme-color" content="#fafafa">
    <link href="../lib/fonts/all.min.css" rel="stylesheet" />
</head>

<style>
    body {
        font-family: Circular,Tahoma,sans-serif;
    }
</style>
<body>
    <div id="app">
        <app-view></app-view>
    </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script src="~/app/dist/indexBundle.js"></script>
<script src="~/lib/toastr/toastr.min.js"></script>

<!-- Global site tag (gtag.js) - Google Ads: 948533355 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-948533355"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-948533355');</script>